* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    max-width: 1600px;
    margin: auto;
    /* background-color: wheat; */
    /* margin-left:40px;
    margin-right: 120px; */



}

/* .header .logo {
   margin: auto 120px;
} */
nav .menu {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

}

nav .menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

header .nav-btn button {
    color: aliceblue;
    background-color: #469165;
    padding: 15px 19px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

header .nav-btn button:hover {
    background-color: #367b50;
}

#banner {
    max-width: 1600px;
    margin: auto;
    height: 674px;
    padding: 70px 120px 134px 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.banner-content .access-now {
    margin-top: 30px;
    padding: 8px 8px;
    background-color: white;
    color: #469165;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    line-height: 16px;


}

.h1 h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.text-white {
    color: #FFFFFF;
}

.text-green {
    color: #30B868;
}

.banner-content p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.banner-btn {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.banner-btn .btn-1 {
    color: aliceblue;
    background-color: #469165;
    padding: 15px 19px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    font-size: 12px;
    text-align: center;
    margin: 0;
    width: 198px;
    height: 52px;
}

.btn-1 img {
    margin-left: 8px;
    margin-bottom: 1px;
}

.banner-btn .btn-2 {
    width: 198px;
    height: 52px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    box-sizing: border-box;

    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;

    background: transparent;
    color: #ffffff;
    cursor: pointer;
    
}
.banner-btn .btn-2:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.banner-btn .btn-1:hover {
    background-color: #59ab78;
}
#note{

    padding-top: 130px;
}
#note .note-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    
    
}
.note-container .note-heading{
    text-align: center;
    margin-bottom: 60px;
}
.note-heading h2{
    font-size: 48px;
font-weight: 700;
color: #001931;
}
.note-container .note-heading p{
    font-size: 16px;
    color: #868383;
    
}

#note .note-container .note-box{
    display: flex;
   gap: 24px;
   margin-top: 20px;
}
.note-box .note-card{
    
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0 #0000002f;

   
}
.note-card img{
    max-width: 44px;
    margin-bottom: 30px;
    background-color: #F95555;
    align-items: center;
}
.note-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.note-card p{
    font-size: 16px;
    color: #474747;
    line-height: 26px;
}