* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.font-inter {
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    /* max-width: 1600px;
    max-height: 92px; */
    /* background-color: wheat; */
    
    
  
}
 .header .logo {
   margin: auto 120px;
}
nav .menu{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}
nav .menu li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
header .nav-btn button{
    color: aliceblue;
    background-color: #469165;
    padding: 15px 19px;
    border-radius: 4px;
    font-weight: 600;
    /* font-size: 1rem; */
    cursor: pointer;
    border: none;
    margin: auto 120px;

}